name: Release

on:
  workflow_dispatch:
    inputs:
      base:
        description: 'Base branch to deploy core from'
        required: false
        default: 'main'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: flucoma/actions/env@v4
        with: 
          branch: ${{ github.event.inputs.base }}
      - uses: flucoma/actions/docs@v4
        with:
          target: MAKE_SC_REF
          branch: ${{ github.event.inputs.base }}

      - uses: actions/upload-artifact@v2
        with:
          name: docs
          path: build/sc_ref  

  macbuild:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
        with: 
          branch: ${{ github.event.inputs.base }}
      - uses: flucoma/actions/sc@v4

      - uses: actions/upload-artifact@v2
        with:                                                                                                                                                                            
          name: macbuild                                                                                                                                                                 
          path: install

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
        with: 
          branch: ${{ github.event.inputs.base }}
      - uses: flucoma/actions/sc@v4

      - name: remove pdb files
        run: Remove-Item install -Recurse -Include *.pdb

      - uses: actions/upload-artifact@v2 

        with: 
          name: winbuild
          path: install

  linuxbuild:
    runs-on: ubuntu-18.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v2
      - uses: flucoma/actions/env@v4
        with: 
          branch: ${{ github.event.inputs.base }}
      - uses: flucoma/actions/sc@v4

      - uses: actions/upload-artifact@v2                                                                                                                                                 
        with:                                                                                                                                                                            
          name: linuxbuild                                                                                                                                                                
          path: install
          
      - id: get-version
        run: echo "::set-output name=version::$(cat flucoma.version.rc)"
        working-directory: core
  
  release:
    runs-on: ubuntu-latest
    needs: [macbuild, winbuild, linuxbuild, docs]
    
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs
      
      - uses: actions/download-artifact@v2
        with:
          name: macbuild
          path: mac

      - name: copy docs to mac
        run: mkdir -p mac/FluidCorpusManipulation/HelpSource && cp -r docs/*   mac/FluidCorpusManipulation/HelpSource
         
      - name: compress win
        run: zip -r ../FluCoMa-SC-Mac-nightly.zip .
        working-directory: mac    

      - uses: actions/download-artifact@v2
        with:
          name: winbuild
          path: win

      - name: copy docs to win
        run: mkdir -p win/FluidCorpusManipulation/HelpSource && cp -r docs/* win/FluidCorpusManipulation/HelpSource
        
      - name: compress win
        run: zip -r ../FluCoMa-SC-Windows-nightly.zip .
        working-directory: win    

      - uses: actions/download-artifact@v2
        with:
          name: linuxbuild

          path: linux
          
      - name: copy docs to linux
        run: mkdir -p linux/FluidCorpusManipulation/HelpSource && cp -r docs/* linux/FluidCorpusManipulation/HelpSource
        
      - name: compress linux
        run: zip -r ../FluCoMa-SC-Linux-nightly.zip .
        working-directory: linux     

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linuxbuild.outputs.version }}
          body: "This is a release build of the FluCoMa SuperCollider package. The build hash is ${{ github.sha }}"
          files: FluCoMa-SC-*.zip
          prerelease: true
          tag_name: ${{ needs.linuxbuild.outputs.version }}
          draft: false

