name: release

on:
  workflow_dispatch:

jobs:
  macbuild:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/sc@main
        with: 
          branch: origin/${{ github.ref_name }}

      - name: sign binaries
        uses: flucoma/actions/distribution@main
        with:
          glob: '-e scx'
          package: 'install'
          output_type: 'dmg'
          output: FluCoMa-SC-Mac
          cert: ${{ secrets.CERT }}
          certpwd: ${{ secrets.CERTPWD }}
          teamid: ${{ secrets.WWDRTEAMID }}
          apppwd: ${{ secrets.APPSTORECONNECTPWD }}
          appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macbuild
          path: install/FluCoMa-SC-Mac.dmg

  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/sc@main
        with: 
          branch: origin/${{ github.ref_name }}

      - name: remove pdb files
        run: Remove-Item install -Recurse -Include *.pdb

      - name: compress archive
        run: 7z a FluCoMa-SC-Windows.zip FluidCorpusManipulation
        working-directory: install

      - uses: actions/upload-artifact@v4.3.6 
        with: 
          name: winbuild
          path: install/FluCoMa-SC-Windows.zip 

  linuxbuild:
    runs-on: ubuntu-20.04
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/sc@main
        with: 
          branch: origin/${{ github.ref_name }}

      - name: compress archive
        run: tar -zcvf FluCoMa-SC-Linux.tar.gz FluidCorpusManipulation
        working-directory: install

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: linuxbuild 
          path: install/FluCoMa-SC-Linux.tar.gz
          
      - id: get-version
        run: echo "version=$(cat flucoma.version.rc)" >> $GITHUB_OUTPUT
        working-directory: build/_deps/flucoma-core-src
  
  release:
    runs-on: ubuntu-20.04
    needs: [macbuild, winbuild, linuxbuild]
    
    steps:      
      - uses: actions/download-artifact@v4.1.7
        with:
          name: macbuild

      - uses: actions/download-artifact@v4.1.7
        with:
          name: winbuild

      - uses: actions/download-artifact@v4.1.7
        with:
          name: linuxbuild

      - name: delete pre-existing release
        uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true # default: false
          tag_name: ${{ needs.linuxbuild.outputs.version }} # tag name to delete
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: package and upload
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.linuxbuild.outputs.version }}
          body: "This is a release build of the FluCoMa SuperCollider package. The build hash is ${{ github.sha }}"
          files: FluCoMa*
          prerelease: true
          tag_name: ${{ needs.linuxbuild.outputs.version }}
          target_commitish: ${{ github.sha }}
          draft: false

